.cd-f-eve{width:100%;margin-bottom:30px;} .cd-f-name{width:100px;} 
input[type="checkbox"]{ width: 13px; height: 13px; vertical-align: middle; margin:0;margin-right: 3px; } 
.upbtn{ width: 125px; height: 30px; background-color: #f5f8fa; border: 1px solid #dcdcdc; } 
.cd-f-value span{display: inline-block;width: 100px;} 
.up-item{background-color:#f5f8fa;padding:15px;margin-bottom:10px;} 
.w300{width: 300px;} 
.w800{width: 800px;} 
.sysprint-img-button{display: none;}
.input-fileup{ position: absolute; top: 0px; left: 0px; z-index: 9; height: 28px; opacity: 0; cursor: pointer !important; font-size: 0px;} 
.del-fileup{ margin-top: 30px; float: right; } .del-fileup:hover{ cursor: pointer; } 
.showfile-name{ display: inline-block; vertical-align: top; margin: 0px !important; max-width: 200px !important; cursor: pointer; } 
.showfile-name-input{ display: none; }
.gray-btn{background-color: #C6CAC7;}
.sysprint-img{cursor: pointer;}
.sysprint-img.active{border: 1px solid #337ab7;}
.m10{margin: 10px;}
.p10{padding: 10px;}
.smp-main{margin-top: 40px;border: 1px solid #ddd;}
.up-list .progress{height:15px;}
.up-list .progress .progress-bar{background-color: #ffba00;line-height:15px;}
.v-top{vertical-align: top;}