@charset "utf-8";
    /* 直播课程详情 start*/
.live{
  margin-top:50px;
}
.l-left{
  display: inline-block;
  width: 918px; }
  .chat-bland{
    background-color: #fff;}
    ul{
      color:#444;
      padding:0 10px;
      height: 326px;
      overflow-y: auto;}
      .c-content{
        display: inline-block;
        width:195px;}
        .c-time {color:#999;margin-left:10px;}

      .c-del{color:#999;margin-top:10px;cursor: pointer;}

 .l-title{
      font-size:20px;
      color:#222;
      line-height: 35px;
    }
.l-title small{
        color:#666;
      }
.vedio{
      width: 100%;
    height: 562px;
    position: relative;

}
.l-right{
  width: 281px;
  border:1px solid #ececec;
  border-top:1px solid #34a150;
  }
  .right-head{
    height:45px;
    line-height: 45px;
    color:#34a150;
    padding: 0 15px;
    border-bottom:1px solid #ececec;
  }
  .mt20{margin-top:20px;}
  .bar{
    border-radius: 1px;
    box-shadow:0 3px 2px rgba(0,0,0,.05);
    background-color: #f5f5f5;
    height:23px;
    border: 1px solid #DDDDDD;
  }
.chat-btm{background-color: #f7f7f7;}
.c-text{
  padding: 10px;
}
  .c-text textarea{
    width:258px;
    height:80px;
  }
.c-text button{ margin-right: 9px;padding:2px 14px;margin-top:8px;margin-bottom:4px;background-color: #f5f8fa;border: 1px solid #b2b7bf;}
#chat_context li{margin-top:20px;}
.chat-li{
	position: relative;
}
.chat-context{
	word-break:break-all;
	word-wrap:break-word;
}
.chat-delete{
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}
.chat-delete:hover{
	font-size: 18px;
}
.l-title {font-size: 18px;}
.l-title span{margin: 0px;cursor: pointer;}
.ft12{font-size: 14px;}
#facebox td{width:40px;}
.icon-face {
    color: #f1b93c;
    font-size: 20px;
}
.qqFace {
    margin-top: 4px;
    background: #fff;
    padding: 2px;
    border: 1px #dfe6f6 solid;
}
