<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">  
  <title>上传课程资源</title>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src="../../../public/_config/sys_front_config.js" ></script>
  <script type="text/javascript" src="../../../public/jquery/jquery-2.2.4.js" ></script>
  <script type="text/javascript" src="../../../dist/slr_manifest.js" ></script>
  <script type="text/javascript" src="../../../dist/slr_common.js" ></script>
  <script type="text/javascript" src="../../../dist/slr_base.js" ></script>
  <style type="text/css">
	body{background-color: #f5f8fa;}
	.cd-f-eve{width:100%;margin-bottom:30px;}
	.cd-f-name{width:100px;}
	input[type="checkbox"]{
		width: 13px;
	    height: 13px;
	    vertical-align: middle;
	    margin-right: 3px;
	}
	.upbtn{
		width: 125px;
	    height: 30px;
	    background-color: #f5f8fa;
	    border: 1px solid #dcdcdc;
	}
	.cd-f-value span{margin-right:30px;}
	.up-item{background-color:#f5f8fa;padding:15px;margin-bottom:10px;}
  </style>
</head>
<body>
<nav data-v-c4f038aa="" role="navigation" class="navbar navbar-default"><div data-v-c4f038aa="" class="wamp">
  <img data-v-c4f038aa="" src="../../../public/_module/images/logo.png" class="inb"> 
  <div data-v-c4f038aa="" class="head inb"><div data-v-c4f038aa="" class="navHead">
    <span data-v-c4f038aa=""><a href="/#/index" class="router-link-active" data-v-c4f038aa="">
              首页
             </a></span><span data-v-c4f038aa=""><a href="/#/onDemand" class="" data-v-c4f038aa="">
              点播
             </a></span><span data-v-c4f038aa=""><a href="/#/basic" class="" data-v-c4f038aa="">
              基础管理
             </a></span></div> </div> <div data-v-c4f038aa="" class="out fr"><button data-v-c4f038aa="" class="fr">登录</button></div></div>  <form data-v-c4f038aa="" action="" id="login" class="layBox mt40"><div data-v-c4f038aa="" class="cd-f-row"><div data-v-c4f038aa="" class="cd-f-eve"><span data-v-c4f038aa="" class="cd-f-name"><label data-v-c4f038aa="">用户名:</label></span> <span data-v-c4f038aa="" class="cd-f-value"><input data-v-c4f038aa="" type="text" name="username" data-vali="notnull,username"></span></div> <div data-v-c4f038aa="" class="cd-f-eve"><span data-v-c4f038aa="" class="cd-f-name"><label data-v-c4f038aa="">密码:</label></span> <span data-v-c4f038aa="" class="cd-f-value"><input data-v-c4f038aa="" type="text" name="password" data-vali="notnull,password"></span></div> <div data-v-c4f038aa="" class="cd-f-eve"><input data-v-c4f038aa="" type="checkbox" name="auto" class="ml30">自动登录
      </div> <div data-v-c4f038aa="" class="cd-f-eve"><button data-v-c4f038aa="" class="lay-btn gray-btn">登录</button></div></div></form> </nav>
  <!-- 点播课程详情 start-->
  <div class="wamp">
    <div class="smp-main">
       <form action="" class="up-subject">
       <div class="cd-f-row">
        <div class="cd-f-eve">
          <span class="cd-f-name"><label class="cd-f-notnull">*</label><label>课程资源名称:</label></span>
          <span class="cd-f-value ">
            <input type="text" data-vali="notnull">
          </span>
        </div>
        <div class="cd-f-eve">
          <span class="cd-f-name"><label class="cd-f-notnull">*</label><label>学科:</label></span>
          <span class="cd-f-value ">
            <select data-vali="notnull"><option>请选择</option></select>
          </span>
        </div>
        <div class="cd-f-eve">
          <span class="cd-f-name"><label class="cd-f-notnull">*</label><label>年级:</label></span>
          <div class="cd-f-value ">
            <span><input type="checkbox" name="" >全部</span>
            <span><input type="checkbox" name="" >一年级</span>
          </div>
        </div>   
        <div class="cd-f-eve">
          <span class="cd-f-name"><label class="cd-f-notnull">*</label><label>主讲教师:</label></span>
          <span class="cd-f-value ">
             <input type="text" data-vali="notnull">
          </span>
        </div>   
        <div class="cd-f-eve">
          <span class="cd-f-name vat"><label class="cd-f-notnull">*</label><label>课程视频:</label></span>
          <span class="cd-f-value">
             <input type="button" value="上传课程视频" class="upbtn">
             <div class="up-list mt20">
	             <div class="up-item">
	               <div class="inb vat">
	                  <p>上传资源1<span class="ml10">4.8M</span></p>
	                  <p><span class="mr10"></span>63%</p>
	                  <p>上传中</p>
	               </div
	               <div class="inb">
	               		<img src="" width="140" height="80" class="mr20 vab">
						<button class="upbtn mr20">使用系统截图</button>
						<button class="upbtn">上传本地图片</button>
	               </div>
	               <i class="iconfont icon-delete"></i>
	             </div>
             </div>
          </span>
        </div>   
  		<div class="cd-f-eve">
          <span class="cd-f-name"></span>
          <span class="cd-f-value ">
              <button class="green-btn lay-btn" type="button">保存</button>
          </span>
        </div>   
       
      </div>
    </form>
    </div>
  </div>
  <!-- 点播课程详情  end-->
  <script type="text/javascript">

  </script>
</body>
</html>