<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.slr.dao.BasicInfoKeyMapper" >
  <resultMap id="BaseResultMap" type="com.codyy.slr.entity.BasicInfoKey" >
    <id column="KEY_ID" property="keyId" jdbcType="VARCHAR" />
    <result column="KEY_NAME" property="keyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    KEY_ID, KEY_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from basic_info_key
    where KEY_ID = #{keyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from basic_info_key
    where KEY_ID = #{keyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.codyy.slr.entity.BasicInfoKey" >
    insert into basic_info_key (KEY_ID, KEY_NAME)
    values (#{keyId,jdbcType=VARCHAR}, #{keyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.codyy.slr.entity.BasicInfoKey" >
    insert into basic_info_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keyId != null" >
        KEY_ID,
      </if>
      <if test="keyName != null" >
        KEY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keyId != null" >
        #{keyId,jdbcType=VARCHAR},
      </if>
      <if test="keyName != null" >
        #{keyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codyy.slr.entity.BasicInfoKey" >
    update basic_info_key
    <set >
      <if test="keyName != null" >
        KEY_NAME = #{keyName,jdbcType=VARCHAR},
      </if>
    </set>
    where KEY_ID = #{keyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codyy.slr.entity.BasicInfoKey" >
    update basic_info_key
    set KEY_NAME = #{keyName,jdbcType=VARCHAR}
    where KEY_ID = #{keyId,jdbcType=VARCHAR}
  </update>
</mapper>