<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.slr.dao.DmsServerMapper" >
  <resultMap id="BaseResultMap" type="com.codyy.slr.vo.DmsServerVo" >
    <id column="SERVER_ID" property="serverId" jdbcType="VARCHAR" />
    <result column="SERVER_NAME" property="serverName" jdbcType="VARCHAR" />
    <result column="SERVER_VALUE" property="serverValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERVER_ID, SERVER_NAME, SERVER_VALUE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dmsserver
    where SERVER_ID = #{serverId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dmsserver
    where SERVER_ID = #{serverId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.codyy.slr.entity.DmsServer" >
    insert into dmsserver (SERVER_ID, SERVER_NAME, SERVER_VALUE
      )
    values (#{serverId,jdbcType=VARCHAR}, #{serverName,jdbcType=VARCHAR}, #{serverValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.codyy.slr.entity.DmsServer" >
    insert into dmsserver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        SERVER_ID,
      </if>
      <if test="serverName != null" >
        SERVER_NAME,
      </if>
      <if test="serverValue != null" >
        SERVER_VALUE,
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverId != null" >
        #{serverId,jdbcType=VARCHAR},
      </if>
      <if test="serverName != null" >
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="serverValue != null" >
        #{serverValue,jdbcType=VARCHAR},
      </if>
       <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codyy.slr.entity.DmsServer" >
    update dmsserver
    <set >
      <if test="serverName != null" >
        SERVER_NAME = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="serverValue != null" >
        SERVER_VALUE = #{serverValue,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SERVER_ID = #{serverId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codyy.slr.entity.DmsServer" >
    update dmsserver
    set SERVER_NAME = #{serverName,jdbcType=VARCHAR},
      SERVER_VALUE = #{serverValue,jdbcType=VARCHAR}
    where SERVER_ID = #{serverId,jdbcType=VARCHAR}
  </update>
  
  
  <select id = "getDmsServerListPageList" parameterType="com.codyy.slr.common.page.Page" resultMap="BaseResultMap">
  
  	select * from dmsserver t 
where 1=1 
<if test  = "map.dmsServerName != null">
 and  t.SERVER_NAME = #{map.dmsServerName}
</if>
order by t.LAST_MODIFY_TIME desc
</select>
  
  
</mapper>