<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.slr.dao.ResourceMapper">
	<select id="getHomeLiveList" resultType="com.codyy.slr.vo.HomeLiveVo">
		select res.RESOURCE_ID resourceId,res.RESOURCE_NAME resourceName,res.AUTHOR author,res.LIVING_PATH livingPath,
		sub.SUBJECT_NAME subjectName,
		(select case when count(1)=1 then cl.CLASSLEVEL_NAME else '' end from resource_r_classlevel rrc,classlevel cl
		where rrc.RESOURCE_ID = res.RESOURCE_ID and rrc.CLASSLEVEL_ID = cl.CLASSLEVEL_ID) classlevelName
		from resource res,subject sub where res.SUBJECT_ID = sub.SUBJECT_ID and res.LIVING_FLAG = 'Y' and res.SOURCE_TYPE = 'RECORD'
		order by res.CREATE_TIME desc
	</select>

	<select id="getHomeResourceList" resultType="com.codyy.slr.vo.ResourceVo">
		select * from (select res.RESOURCE_ID resourceId,res.RESOURCE_NAME resourceName,res.AUTHOR author,res.STORE_PATH storePath,
		res.THUMB_PATH thumbPath,res.VIEW_CNT viewCnt,sub.SUBJECT_NAME subjectName,
		(select case when count(1)=1 then cl.CLASSLEVEL_NAME else '' end from resource_r_classlevel rrc,classlevel cl
		where rrc.RESOURCE_ID = res.RESOURCE_ID and rrc.CLASSLEVEL_ID = cl.CLASSLEVEL_ID) classlevelName
		from resource res,subject sub where res.SUBJECT_ID = sub.SUBJECT_ID and res.LIVING_FLAG = 'N'
		order by res.CREATE_TIME desc) tmp limit 0,8
	</select>
</mapper>